<html>
<head>
<meta charset="UTF-8">
<title>timeline</title>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
        <div class="span8">
			<form action="/todo/add/{{user.username}}" method="POST">
				<fieldset>
                    <h2>用户{{ t_user.username }}</h2>
                    <p>
                        <h3>关注：0</h3>
                        <h3>粉丝：0</h3>
                    </p>
				</fieldset>
			</form>
		</div>
		<div class="span4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						您的用户名：{{ user.username }}
					</h3>
				</div>
				<div class="panel-body">
					关注用户：0
				</div>
				<div class="panel-footer">
					粉丝：0
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8">
    <h3>{{ t_user.username }}的微博</h3>
    	{% for t in todolists %}
        <p>
            <hr>
            <a href="/timeline/{{ t.user.username }}">{{ t.user.username }}</a>
            {{ t.content }}
            {{ t.created_time }}
        </p>
        <a href="/timeline/comments/{{ t.id }}">评论({{ t.comments|length }})</a>
    {% endfor %}
    <hr>
    <a href="/todo/add/{{ user.username }}">返回首页</a>
		</div>
		<div class="span4">
		</div>
	</div>
</div>
</body>
</html>